

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    font-family: 'Roboto', sans-serif;
}

.dashboard {
    padding-left: 4vw;
    background-color: #0284c7;
    grid-area: 1 / 1 / 6 / 2;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(13, 1fr);
}

.dashboard_logo {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu {
    grid-row: 3 / 7;
}

.settings {
    margin-top: 10vh;
}

ul {
    list-style: none;
}

li > span,
div.dashboard_logo > span {
    margin-left: 1.5vw;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 1rem;
}

.icon {
    margin-bottom: 1vh;
    height:28px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    grid-area: 1 / 2 / 2 / 6;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 2vw;
    padding-left: 3vw;
    z-index: 2;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.header_icon{
    height: 2.5vh;
    margin-right: 2vw;
}

.profile_picture {
    height: 6vh;
    border-radius: 50%;
    margin-right: 2vw;
}

.profile_name {
    width: 10vw;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
}

.upper_header {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 100%;
    align-items: center;
}

#search_bar {
    height: 3.5vh;
    width: 42vw;
    background-color: #cffafe;
    border: none;
    border-radius: 10px;
    margin-left: 1vw;
    margin-right: 10vw;
    
}

.lower_header {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5vh;
    width: 100%;
}

.lower_header img {
    height: 8vh;
}

.hello_box {
    display: flex;
    flex-direction: column;
    margin-right: 32vw;
}

.user_greet_small {
    margin-bottom: 0.5vh;
    font-family:  inherit;
    color: black;
    font-weight: bold;
    font-size: 0.7rem;
}

.user_greetings {
    width: 15vw;
    font-family: inherit;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.dummy_button {
    height: 4vh;
    width: 6vw;
    color: white;
    background-color: #22d3ee;
    border-radius: 20px;
    border: none;
    margin-right: 1.5vw;
    font-family: inherit;
}

.dummy_button:hover {
    border: 2px solid navy;
}

.main_content {
    background-color: #cffafe;
    grid-area: 2 / 2 / 6 / 6;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-column: 1 / 2;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2.9vw;
    justify-items: center;
}

.projects_span {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    position: relative;
    top: 2.5vh;
    right: 22.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.project {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1vh;
    border-left: 7px solid;
    border-left-color: goldenrod;
    background-color: white;
    padding: 10px 20px;
    height: 10vw;
    width: 22vw;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.project span {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
}

.projects p {
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 0.7rem;
}

.icon_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.icon_row img {
    position: relative;
    right: -2.2vw;
}

.content_sidebar {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section_title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1.4vw;
    margin-bottom: 1vw;
}

.announcments_box {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    background-color: white;
    width: 15vw;
    height: 34vh;
    padding: 1.5vw;
    border-radius: 10px;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.announcment {
    margin-top: 0.5vw;
    padding-bottom: 0.5vw;
    border-bottom: 1px solid lightgrey;
}

.announcment:nth-child(3) {
    border-bottom: none;
}

.announcment:nth-child(1) {
    margin-top: 0vw;
}

.announcments_box span {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 0.7rem;
}

.announcments_box p {
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 0.6rem;
}

.trending_box {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    background-color: white;
    width: 15vw;
    height: 26vh;
    padding: 1vw;
    border-radius: 10px;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.trend {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trend img {
    border-radius: 50%;
    height: 6vh;
    margin-right: 1vw;
}

.trend_description {
    display: flex;
    flex-direction: column;
}

.trend_description span {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 0.7rem;
}

.trend_description p {
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 0.6rem;
}