* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 @font-face {
    font-family: 'Norse-Bold';
    src: url("fonts/Norse-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


 .col1{
    float: left;
    width: 36%;
    height: 100vh;
    display: flex;
    background-image: url("assets/background.avif");
    background-repeat: no-repeat; 
    background-size: cover; 
 }

.logo_area{
    margin-top: 30%;
    width: 100%;
    height: 18.5vh;
    display:flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

 #odin_text{
    font : 5.5em "Norse-Bold", monospace;
    color: white;
    display:flex;
    position: absolute;
    left: 50%;
    top: 30%;
 }

 #odin_logo{
  background-image: url('assets/odin-lined.png');
  background-size:contain; 
  background-repeat: no-repeat;
  position:absolute;
  width: 90px;
  height: 130px;
  right: 50%;
  top: 10%;
}

 .col2{
    float: right;
    width: 64%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row1{
    width: auto;
    height: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgba(249,250,251,255); 
}

#description{
    padding: 4%;
    font-family: sans-serif;
    font-weight: bolder;
    line-height: 3vh;
}


.row2{
    width: auto;
    height: 33.33%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
    box-shadow: 5px 0px 8px #d2d3d1;
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#input_text{
    padding-left: 3vh;
    padding-bottom: 3%;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
}
#input_box{
    height: auto;
    display: flex;
    flex-direction: column;
    padding-right: 8%;
}

.input_row{
    display: flex;
    flex-direction: row;
    padding-left: 3vh;
    width: 100%;
    height: 25%;
}

input{
    border: 1px solid #E5E7EB;
    width: 14vw;
    height: 3.2vh;
    padding-left: 8px;
    border-radius: 5px;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.55rem;
    font-weight: bolder;
    padding-bottom: 1vh;
}

.error{
    border-color: red;
}

#password-minlength{
    position: relative;
    top: -5px;
    font-weight: bolder;
    font-size: 0.6rem ;
    padding-left: 3vh;
    color: red;
}

input:focus {
    border: 1px solid blue;
}

input:valid {
    border: 1px solid lightgreen;
}

/*/input:focus:invalid + span::before { ... }*/


.row3{
    width: auto;
    height: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgba(249,250,251,255); 
}

.button{
    padding: 4%;
}

button{
    height: 40px;
    width: 175px;
    align-items: center;
    justify-items: center;
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 5px;
}

.login{
    font-family: sans-serif;
    padding-left: 4%;
}

.login::after{
    content:' Log in';
    color:#596D48 ;
    font-family: sans-serif;
    font-weight:bolder;
}